:root {
    --header-color: #66fcf1;
    --box-color: #45a29e;
    --font-color: azure;
}
body {
    background-color: #1f2833;
}

header {
    display: block;
    text-align: center;
}

header h1 {
    color: var(--header-color);
    text-align: center;
}

header h3 {
    color: var(--font-color);
    text-align: center;
}

main {
    display: flex;
    /*justify-content: space-between;
    flex-direction:column;*/
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    margin: 15px;
    border:10px;
    border-style: double;
    border-color: var(--font-color);
    display: inline;
    float: left;
    width: 27%;
    height: 300px;
    /*justify-content: space-between;*/
    /*background-color: var(--box-color);*/
}

.card h3 {
    color: var(--header-color);
    border: 3px;
    border-style: dashed;
    border-color: var(--font-color);
    text-align: center;
    margin-top: -20px;
    position: relative;
    background-color: #1f2833;
}

.description{
  color: var(--header-color);
  background-color: #1f2833;
}

.code {
    color: var(--font-color);
    background-color: var(--box-color);
    margin-top: 20px;
    font-size: 20px;
}